@model BasketVM

@section Css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    }

    <!-- Main section start -->
    <div id="fx-page-outer" style="margin-top: 0">

        <div class="fx-page-title" style="background-color: #e9e9e9;">
            <div class="fx-m-inner">
                <div itemprop="breadcrumb" class="fx-breadcrumbs">
                    <a itemprop="url" class="qodef-breadcrumbs-link" href="#">
                        <span itemprop="title">Home</span></a>
                    <span class="fx-breadcrumbs-separator">|</span>
                    <span itemprop="title" class="fx-breadcrumbs-current">Cart</span>
                </div>
            </div>
        </div>

        <div id="fx-page-inner">

            <main id="fx-page-content" role="main">
                <div class="container">
                @if(Model.Items.Count == 0)
                {

                    <div class="empty-basket">
                        <div class="fx-notices-wrapper"></div>
                        <p class="cart-empty fx-info">Your cart is currently empty.</p>
                        <p class="return-to-shop">
                            <a class="button fx-backward" href="shop.html">
                                Return to shop
                            </a>
                        </p>
                    </div>
                }
                else
                {
                    <div id="card-list">
                        <div id="card-list-wrapper" class="fx--cart">
                            <div class="fx-notices-wrapper"></div>

                            <div class="rowlist">

                                <table class="cart" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="product-remove">
                                                <span class="screen-reader-text">
                                                    Remove item
                                                </span>
                                            </th>
                                            <th class="product-thumbnail">
                                                <span class="screen-reader-text">
                                                    Thumbnail image
                                                </span>
                                            </th>
                                            <th class="product-name">Product</th>
                                            <th class="product-name">Size</th>
                                            <th class="product-price">Price</th>
                                            <th class="product-quantity">Quantity</th>
                                            <th class="product-subtotal">Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.Items)
                                        {
                                            <tr class="fx-cart-form__cart-item cart_item">

                                                <td class="product-remove" style="cursor: pointer">
                                                    <a asp-action="removefrombasket" asp-controller="basket" asp-route-id="@item.Product.Id">
                                                        <i class="fa-regular fa-x"></i>
                                                    </a>
                                                </td>

                                                <td class="product-thumbnail">
                                                    <a href="#">
                                                        <img width="600" height="734" src="~/manage/uploads/products/@item.Product.ProductImages.FirstOrDefault(x=>x.PosterStatus==true)?.ImageName"
                                                     class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="a">
                                                    </a>
                                                </td>

                                                <td class="product-name" data-title="Product">
                                                    <a href="#">@item.Product.Name</a>
                                                </td>

                                                <td class="product-name" data-title="Product">
                                                    <a href="#">@item.Size.Name</a>
                                                </td>

                                                <td class="product-price" data-title="Price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <bdi>
                                                            <span class="woocommerce-Price-currencySymbol">$</span>@(item.Product.DiscountedPrice > 0 ? item.Product.DiscountedPrice : item.Product.SalePrice)
                                                        </bdi>
                                                    </span>
                                                </td>

                                                <td class="product-quantity" data-title="Quantity">
                                                    <div class="fx-quantity-buttons quantity">
                                                        <span class="fx-quantity-minus"></span>
                                                        <input type="text" id="quantity" class="fx-quantity-input"
                                                       data-min="0" data-max="" value="@item.Count" inputmode="numeric">
                                                        <span class="fx-quantity-plus"></span>
                                                    </div>
                                                </td>

                                                <td class="product-subtotal" data-title="Subtotal">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <bdi>
                                                            <span class="woocommerce-Price-currencySymbol">$</span>@(item.Count * (item.Product.DiscountedPrice > 0 ? item.Product.DiscountedPrice : item.Product.SalePrice))
                                                        </bdi>
                                                    </span>
                                                </td>
                                            </tr>
                                        }


                                        @*<tr>
                                    <td colspan="6" class="actions">

                                    <div class="coupon">
                                    <label for="coupon_code" class="d-none">Coupon:</label>
                                    <input type="text"
                                    name="coupon_code" class="input-text" id="coupon_code" value=""
                                    placeholder="Coupon code"> <button type="submit"
                                    class="button wp-element-button" name="apply_coupon"
                                    value="Apply coupon">Apply coupon</button>
                                    </div>

                                    <button type="submit" class="button wp-element-button" name="update_cart"
                                    value="Update cart" disabled="" aria-disabled="true">Update
                                    cart</button>


                                    <input type="hidden" id="woocommerce-cart-nonce"
                                    name="woocommerce-cart-nonce" value="23f1453aa6"><input type="hidden"
                                    name="_wp_http_referer" value="/cart/">
                                    </td>
                                    </tr>*@

                                    </tbody>
                                </table>

                            </div>



                            <div id="content" class="cart-collaterals">
                                <div class="cart_totals ">


                                    <h2>Cart totals</h2>

                                    <table cellspacing="0" class="shop_table shop_table_responsive">

                                        <tbody>
                                            <tr class="cart-subtotal">
                                                <!-- <th>Subtotal</th>
                                                <td data-title="Subtotal"><span
                                                        class="woocommerce-Price-amount amount"><bdi><span
                                                                class="woocommerce-Price-currencySymbol">$</span>220.00</bdi></span>
                                                </td> -->

                                                <th>Total Count</th>
                                                <td data-title="Subtotal">
                                                    <span id="total-count" class="woocommerce-Price-amount amount"></span>
                                                </td>
                                            </tr>




                                            <tr class="woocommerce-shipping-totals shipping">
                                                <th>Shipping</th>
                                                <td data-title="Shipping">
                                                    <ul id="shipping_method" class="woocommerce-shipping-methods">
                                                        <li>
                                                            <input type="hidden" name="shipping_method[0]"
                                                               data-index="0" id="shipping_method_0_free_shipping1"
                                                               value="free_shipping:1" class="shipping_method"><label for="shipping_method_0_free_shipping1">
                                                                Free
                                                                shipping
                                                            </label>
                                                        </li>
                                                    </ul>
                                                    <p class="woocommerce-shipping-destination">
                                                        Shipping to <strong>CA</strong>.
                                                    </p>

                                                </td>
                                            </tr>






                                            <tr class="order-total">
                                                <th>Total</th>
                                                <td data-title="Total">
                                                    <strong>
                                                        <span class="woocommerce-Price-amount amount">
                                                            <bdi id="total">
                                                                <span class="woocommerce-Price-currencySymbol">$</span>@Model.TotalAmount
                                                            </bdi>
                                                        </span>
                                                    </strong>
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>

                                    <div class="fx-proceed-to-checkout">

                                        <a href="checkout.html"
                                       class="checkout-button button">
                                            Proceed to checkout
                                        </a>
                                    </div>

                                    <div id="btn-clear" class="fx-proceed-to-checkout" style="float: right;">

                                        <a href="#"
                                       class="checkout-button button">
                                            Delete All
                                        </a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                }
                    
                </div>


            </main>

        </div>
    </div>
    <!-- Main section end -->
