@model PaginatedList<Banner>
@{
    ViewData["Title"] = "Index";
    int dataOrder = (Model.PageIndex - 1) * 2;

}
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title">Basic Table</h4>
                    </div>
                    <div class="col-7 align-self-center">
                        <div class="d-flex align-items-center justify-content-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Basic Table</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">

                    
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Banners</h4>
                                <a asp-action="create" class="btn btn-primary">Create</a>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">SubTitle1</th>
                                            <th scope="col">SubTitle2</th>
                                            <th scope="col">BtnText</th>
                                            <th scope="col">Image</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                            @foreach (var item in Model.Items)
                            {
                                dataOrder++;
                                <tr>
                                    <th scope="row">@dataOrder</th>
                                    <td>@item.Title</td>
                                    <td>@item.SubTitle1</td>
                                    <td>@item.SubTitle2</td>
                                    <td>@item.BtnText</td>
                                    <td>
                                        <img width="150" src="~/manage/uploads/banners/@item.ImageName" >
                                    </td>
                                    <td>
                                        <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                        <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger delete-btn">Delete</a>
                                    </td>
                                </tr>
                            }
                                        
                                        
                                    </tbody>
                                </table>

                                    <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item @(Model.HasPrev?"":"disabled")">
                        <a class="page-link" asp-action="index" asp-controller="slider" asp-route-page="1">First</a>
                    </li>
                    <li class="page-item @(Model.HasPrev?"":"disabled")">
                        <a class="page-link" asp-action="index" asp-controller="slider" asp-route-page="@(Model.PageIndex-1)">Previous</a>
                    </li> 

                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                            <li class="page-item @(Model.PageIndex==i?"active":"")"><a class="page-link" asp-route-page="@i">@i</a></li>
                            }

                    <li class="page-item  @(Model.HasNext?"":"disabled")">
                        <a class="page-link" asp-action="index" asp-controller="slider" asp-route-page="@(Model.PageIndex+1)">Next</a>
                    </li>
                    <li class="page-item @(Model.HasNext?"":"disabled")">
                        <a class="page-link" asp-action="index" asp-controller="slider" asp-route-page="@Model.TotalPages">Last</a>
                    </li>
                </ul>
            </nav>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

                    }